.App {
  width: 100vw;
  height: 100vw;
  overflow: hidden;
}

.editForm3DSettings {
  scrollbar-color: rgb(212 212 212) rgb(45 212 191);
  scrollbar-width: thin;
  user-select: none; /* standard syntax */
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

.editForm3DSettings::-webkit-scrollbar {
  width: 7px;
}

.editForm3DSettings::-webkit-scrollbar-track {
  background-color: rgb(212 212 212);
}


.editForm3DSettings::-webkit-scrollbar-thumb {
  background-color: rgb(45 212 191);
  border-radius: 100px;
}

.editFormGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 25px;
  border-bottom: 2px solid #319795;
  padding-bottom: 25px;
}

.fileInputLabelmap {
  font-size: 16px;
  color: #000000;
  display: flex;
  align-items:center;
  cursor: pointer;
}

.fileInputImgmap {
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
}

.InputLabelmap {
  font-size: 16px;
  color: #000000;
  display: flex;
  align-items:center;
  margin-top: 25px;
}

.InputDiv {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.Inputmap {
  font-size: 14px;
  color:#202020;
  display: inline-block;
  width: 20%;
  min-width: 45px;
  height: 30px;
  vertical-align: middle;
  border: none;
  border-radius: 3px;
  padding: 4px 5px;
  background-color:#f0f0f0;
}

.ScreenShotPhoto {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.ScreenShot {
  display: flex;
  width: auto;
  height: 46px;
  align-items: center;
  padding: 4px 15px;
  margin: 0 auto;
  margin-bottom: 25px;
  color: #f0f0f0;
  background-color:#e83c07;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 20px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.ScreenShotIcon {
  width: 38px;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.ScreenShot:hover,
.ScreenShot:focus {
  padding: 4px 24px;
  transition: ease-in-out 0.2s;
}

.ScreenShot:hover .ScreenShotIcon,
.ScreenShot:focus .ScreenShotIcon {
  background-color:#202020;
  padding: 8px;
  border-radius: 10px;
  transition: ease-in-out 0.2s;
}

input[type=range].Rangemap {
  display: inline-block;
  width: 75%;
  vertical-align: middle;
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  background: transparent; /* Otherwise white in Chrome */
  cursor:ew-resize;
}

/*webkit*/
input[type=range].Rangemap::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 16px;
  background: #319795;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(max((8px - 1px - 1px) * 0.5,0px) - 20px * 0.5);
}

input[type=range].Rangemap::-webkit-slider-runnable-track {
  height: 8px;
  border: 1px solid #b2b2b2;
  border-radius: 8px;
  background: #f0f0f0;
  box-shadow: none;
}

input[type=range].Rangemap::-webkit-slider-thumb:hover {
  background: #2b8381;
}

input[type=range].Rangemap:hover::-webkit-slider-runnable-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].Rangemap::-webkit-slider-thumb:active {
  background: #35a7a5;
}

input[type=range].Rangemap:active::-webkit-slider-runnable-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

/*mozilla*/
input[type=range].Rangemap::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 16px;
  background: #319795;
  border: none;
  box-shadow: 0 0 2px black;
}

input[type=range].Rangemap::-moz-range-track {
  height: max(calc(8px - 1px - 1px),0px);
  border: 1px solid #b2b2b2;
  border-radius: 8px;
  background: #f0f0f0;
  box-shadow: none;
}

input[type=range].Rangemap::-moz-range-thumb:hover {
  background: #2b8381;
}

input[type=range].Rangemap:hover::-moz-range-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].Rangemap::-moz-range-thumb:active {
  background: #35a7a5;
}

input[type=range].Rangemap:active::-moz-range-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

/*ms*/
input[type=range].Rangemap::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].Rangemap::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].Rangemap::-ms-thumb {
  width: 20px;
  height: 20px;
  border-radius: 16px;
  background: #319795;
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].Rangemap::-ms-track {
  height: 8px;
  border-radius: 8px;
  background: #f0f0f0;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].Rangemap::-ms-thumb:hover {
  background: #2b8381;
}

input[type=range].Rangemap:hover::-ms-track {
  background: #e5e5e5;
  border-color: #9a9a9a;
}

input[type=range].Rangemap::-ms-thumb:active {
  background: #35a7a5;
}

input[type=range].Rangemap:active::-ms-track {
  background: #f5f5f5;
  border-color: #c1c1c1;
}

.annotation {
  display: none;
  pointer-events: all;
  scrollbar-color: rgb(212 212 212) rgb(45 212 191);
  scrollbar-width: thin;
  /* user-select: none; standard syntax */
  /* -webkit-user-select: none; webkit (safari, chrome) browsers */
  /* -moz-user-select: none; mozilla browsers */
  /* -khtml-user-select: none; webkit (konqueror) browsers */
  /* -ms-user-select: none; IE10+ */
}

.annotation::-webkit-scrollbar {
  width: 5px;
}

.annotation::-webkit-scrollbar-track {
  background-color: rgb(212 212 212);
}


.annotation::-webkit-scrollbar-thumb {
  background-color: rgb(45 212 191);
  border-radius: 100px;
}

.delete_icon {
  width: 20%;
  max-width: 30px;
  max-height: 20px;
  min-width: 27px;
  min-height: 17px;
  margin-right: 0;
  margin-left: auto;
  background-color:#ffffff;
  border-radius: 5px;
  padding: 1px 6px;
  margin: 3px;
  transition: all ease-in-out 0.15s;
  cursor: pointer;
}

.delete_icon:hover,
.delete_icon:focus {
  background-color:#e01414;
  transition: all ease-in-out 0.15s;
}

.visible {
  display: block !important;
  /* background-color:#e83c07; */
}
.hide {
  display: none !important;
}

.selected {
  background-color: rgb(13 148 136);
  border-radius: 0.125rem;
}

.selected p {
  color: #fff;
}

.annotationsSettingsHover {
  background-color: #bfc8d3;
}

/* .addCustomScrollbar {
  scrollbar-color: rgb(212 212 212) rgb(45 212 191);
  scrollbar-width: thin;
  padding-right: 10px;
}

.addCustomScrollbar::-webkit-scrollbar {
  width: 10px;
}

.addCustomScrollbar::-webkit-scrollbar-track {
  background-color: rgb(212 212 212);
}


.addCustomScrollbar::-webkit-scrollbar-thumb {
  background-color: rgb(45 212 191);
  border-radius: 100px;
} */